*.pyc
__pycache__/
.venv/
*.bak
*.egg-info/
dist/
build/
.tools/
*.decrypted.*
decompiled/*.decrypted.*
decompiled/User.decrypted.json
decompiled/GameRun.sample.decrypted.txt
.pytest_cache/
/src/ftk2_editor/Necesse_Save_Editor.ini
